<div class="row">

 
    <ul  class="col-md-12"  *ngFor="let car of cars">
 
        <li class="list-group-item" style="text-align: center;" ><h2>{{car.description}}</h2></li>
        <!-- <img src="../../../images/volvo2.jpg"> -->
        <li class="list-group-item" ><img class="img-fluid" src="{{image}}"></li>
        <li class="list-group-item" >Id: {{car.id}}</li>
        <li  class="list-group-item"   >brand: {{car.brandName}}</li>
        <li class="list-group-item" >color: {{car.colorName}}</li>
        <li class="list-group-item" >modelYear: {{car.modelYear}}</li>
        <li class="list-group-item" >price: {{car.price}}</li>
        <li class="list-group-item" >description: {{car.description}}</li>
         
       <li class="list-group-item btnlist"> <button routerLink="/cars/rent/{{car.id}}" type="button" class="btn btn-primary">Rent this car</button></li>
        
         
    </ul>
     
    <div *ngIf="dataLoaded==false" class="spinner-border text-success" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
     
    
     