<!-- Welcome to {{title}}
<ul>
  <li *ngFor="let product of products">{{product.productName}}</li>
</ul> -->
 <div class="container">
  <app-navi></app-navi>
   <div class="row">
      <div class="col-md-3">
        
         <app-brand></app-brand>
   
   <div class="row-md-3">
    <app-color></app-color>
   </div> <!-- 
   <div class="row-md-3">
    <app-customer></app-customer>
   </div>-->
 
    <app-rental></app-rental>
     
  </div>
    
  <div class="col"> 
   <router-outlet></router-outlet>
  
 
  </div>
   
  </div>
 </div>
 
 
